.content {
    position: absolute;
    top: 45%;
    left: 13%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
h1{
    color: rgb(43, 61, 61);
    margin: 20px 0px 20px;
    font-size: 70px;
}
h4{
    color: rgb(43, 61, 61);
    margin-bottom: auto;
    font-size: 25px;
}
h2 {
    color: rgb(43, 61, 61);
    margin-bottom: auto;
    font-size: 25px;
}
.pic {
    position: absolute;
    bottom: 98.5%;
    left: 125.5%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.me {
    width: 350px;
    height: 350px;
    position: absolute;
}
.homepage {
    width: 85%;
    top: 90px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homepage ul dt {
    list-style: none;
    display: inline-block;
    margin: 2px;
    right: 80px;
    bottom: 350px;
    position: relative;
}

.homepage ul dt a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.homepage ul dt::after{
    content: '';
    height: 3px;
    width: 0;
    background: #11201f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.homepage ul dt:hover::after{
    width: 100%;

}
.knowmore {
    position: absolute;
    bottom: 5px;
    left: -42px;
}
.button {
    color: rgb(54, 51, 51);
    text-decoration: none;
    font-size: 25px;
    background-color: #64a8bd;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0 9px #999;
    cursor: pointer;
    display:inline-flex;
    text-align: center;
}
  
.button:hover {background-color: #6b89c9}
  
.button:active {
    background-color: #6b89c9;
    box-shadow: 0 9px #999;
    transform: translateY(4px);
}
.about{
    width: 100%;
    padding: 100px 0px;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.about-text h2{
    color: #11201f;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: #11201f;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #64a8bd;
    color: rgb(54, 51, 51);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    box-shadow: 0 9px #999;
    border-radius: 30px;
    padding: 13px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
button:hover{
    background-color: #6b89c9
}
button:active {
    background-color: #6b89c9;
    box-shadow: 0 9px #999;
    transform: translateY(4px);
}
