<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <style>
        body{
            background-color: #ff99ac;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='istayl.css')}}">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js"></script>
</head>
<section>
    <header>
            <h1>Contact Me</h1>
            <style></style>
                <dt><a href="/home" class="button">Return To Home Page</a></dt>
            <nav></nav>
    </header>
</section>

    <div class="laman">
        <h2>Personal Email:</h2>
        <br>
        <h2>elleee.mallari@gmail.com</h2>
        <br>
        <h2>Contact Number:</h2>
        <br>
        <h2>0912 345 6789</h2>
    </div>

        <body>
            <footer>
                <div class="socials">
                    <ul>
                        <dt><a href="https://facebook.com/ellfski" target="blank"><i class="fab fa-facebook"></i></i></a></dt>
                        <dt><a href="https://instagram.com/mf_elleee" target="blank"><i class="fab fa-instagram"></i></i></a></dt>
                        <dt><a href="https://github.com/elleee07" target="blank"><i class="fab fa-github"></i></i></a></dt>
                    </ul>
                </div>
            </body>
            </footer>

        
</head>
</body>
</html>
