<!DOCTYPE html>
<html>
<head>
    <title>About Elle</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <style>
        body {
            background-image: url("{{url_for('static', filename='11.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

<section class="about">
<div class="main">
    <img src="{{url_for('static', filename='me1.jpg') }}" alt="main" class="main">
    <div class="about-text">
        <h2>About Elle</h2>
        <p>I am Ella Marie Añonuevo Mallari, 19 years old. I lived in Binangonan, Rizal. 
        I am currently a 2nd year student taking Bachelor of Science in Computer Engineering. 
        To be honest, this is not my dream course but I don't have a choice anymore so I will 
        just do my best to finish this course on time. For now, my motto in life is "Grades DO NOT
        determine what you are capable of achieving." </p>
        <a class="button" href="/home">Return To Home Page</a>
    </div>

 
</section>
</div>
</head>
</body>
</html>
